section:nth-of-type(4) {
  background-image: url("/images/contact_bg.jpg");
  background-position: 32rem 6rem;
}

.div-section4 {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.form-section4 form {
  display: grid;
  gap: 3rem;
  width: 75%;
}

.form-section4 input {
  all: unset;
  border-bottom: 1px solid gray;
  padding: 1rem;
}
.socialMedia-section4 {
  display: flex;
  gap: 1rem;
}
.icon-section4 {
  color: #464646;
}
.question-section4 {
  width: 80%;
  margin: 2rem auto;
}
